#Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
release.properties

*.properties

application.properties
src/main/resources/application.properties
cloud-registry

# Eclipse
.project
.classpath
.settings/
bin/

# IntelliJ
.idea
*.ipr
*.iml
*.iws

# NetBeans
nb-configuration.xml

# Visual Studio Code
.vscode
.factorypath

# OSX
.DS_Store

# Vim
*.swp
*.swo

# patch
*.orig
*.rej

# Local environment
.env

#quarkus
mvnw
mvnw.cmd


#docker
.dockerignore
.jvm
.native-micro
.legacy-jar
README.md
